.wp-block-lastfm-profile-blocks-item-image {
    margin: 0;
    overflow: hidden;
    max-width: 100%;;

    img {
        height: auto;
        width: 100%;
        vertical-align: bottom;
        box-sizing: border-box;
    }
}