.wp-block-lastfm-profile-blocks-item-image {
    box-sizing: border-box;
    line-height: 0;

    a {
        display: inline-block;
        line-height: 0;
    }

    img {
        height: auto;
        max-width: 100%;
    }

    a,
    img {
        border-radius: inherit;
    }
}